.navbar-container {
    background-color: #4B1D74;
    color: #eee;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.site-name {
    color: #eee;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info a {
    text-decoration: none;
    font-size: medium;
    color: #eee;
}

main {
    display: grid;
    place-content: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 650px;
    margin: 20px;
    padding: 30px;
    gap: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-header .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.post-header .left>div {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 50%;
}

.post-header .left>span {
    color: #0c0c0c;
    font-weight: bold;
}

.user-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: #8f7dcc 0px 0px 2px;
    overflow: hidden;
}

.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-image img {
    width: 100%;
    margin: 10px 0 10px 0;
}

.post-icons {
    font-size: 24px;
    color: #0c0c0c;
}

.post-likes {
    margin: 10px 0 10px 0;
}

.post-likes strong {
    color: #0c0c0c;
}

.post-description {
    font-size: 16px;
    text-align: justify;
    color: #1a1a1a;
    margin: 10px 0 10px 0;
}

.follow-btn {
    background-color: #4B1D74;
    color: #eee;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: medimum;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.follow-btn:hover {
    background-color: #8f7dcc;
    transform: scale(1.05);
}

.follow-btn:active {
    transform: scale(0.95);
}